.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 50px;
  border-radius: 35%;
}

.friend__avatar.m-avatar {
  width: 60px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avatar {
  margin-right: 15px;
}

.friend__content .friend__name {
  display: block;
  margin-bottom: 5px;
}

.friend .chat__timestamp,
.friend__content .friend__status,
.friend__content .friend__bottom-text {
  opacity: 0.6;
}

.friend__content .friend__bottom-text {
  font-size: 14px;
}

.friend .chat__timestamp,
.friend__content .friend__status {
  font-size: 12px;
}

.friend .friend__now-listening {
  padding: 5px 10px;
  border-radius: 12px;
  border: 2px solid #1f8f46;
  font-size: 14px;
  align-items: center;
}

.friend__now-listening span,
.friend__now-listening i {
  opacity: 0.6;
}

.friend__now-listening i {
  margin-left: 10px;
  font-size: 10px;
}

.friend__add-btn {
  display: flex;
  justify-content; center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 5px;
}