.status-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  opacity: 0.7;
}

.status-bar i {
  font-size: 14px;
}

/* .parent .child 형태로 작성 */
.status-bar .status-bar__battery-level {
  margin-left: 5px;
}
