@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";
@import "mobile.css";

body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit; /* 부모의 색깔을 상속 */
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to{
    transform: none;
  }
}
main {
  animation: fadeIn 0.7s ease-in-out;
}
