.header-wrapper {
    background-color: white;
    z-index: 2;
    padding: 5px 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chats-body {
    padding: 10px 0px;
    padding-top: 100px;
    min-height: 10000px;
}

.chats-body .header,
.chats-body .status-bar {
    padding: 0px 20px;
}

.chats-body {
    background-coloblack
    opacity: 0.5;t: 1000vh;
}

.chat__write--container {
    position: fixed;
    bottom: 0px;
    justify-content: space-between;
    align-items: center;

    /* fixed container를 가운데 정렬하기 */
    left: 0;
    right: 0;
    /* 여기까지 */
    display: flex;
    width: 100%;

    /* shadow는 다른 홈페이지에서 inspect -> copy 가능 
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025); */
}

.chat__icon-left {
    position: absolute;
    left: 10px;
}

.chat__icon-right {
    position: absolute;
    right: 10px;
}

@keyframes float {
    0% {
      box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    }
    50% {
      box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    }
    100% {
      box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    }
  }
  

.chat__write {
    bottom: 0px;
    width: 100%;
    border-radius: 0;
    padding: 20px 60px;
    border: none;
    font-size: 14px;
    transition: width 0.5s ease-in,
    border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.chat__write:focus {
    outline: none;
    width: 80%;
    margin: 0 auto;
    transform: translateY(-100px);
    border-radius: 40px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    animation: float 3s linear infinite forwards;
}

.chat__icon {
    font-size: 18px;
    transition: opacity 0.3s ease-in-out;
}

/* ~ : sibling을 선택 */
.chat__write:focus ~ .chat__icon {
    opacity: 0;
}

.chat__write i {
    font-size: 22px;
}

.chat__write-column:nth-child(2) {
    width: 80%;
}

.chat-screen .chat__messages {
    border-top: 1px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    padding-top: 30px;
}

.chat__messages .chat__timestamp {
    background-color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    text-transform: uppercase;
    font-weight: 700;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.incoming-message {
    align-self : flex-start;
}

@keyframes spin {
    from {
        transform: none;
    }
    to {
        transform: rotateY(1turn);
    }
}

.incoming-message img {
    width: 30px;
    border-radius: 15px;
    margin-right: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    animation: spin 1s linear 1;
}

.sent-message {
    align-self: flex-end;
}

.message .message__bubble {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
  }

  .incoming-message .message__author {
      margin-top: 25px;
      display: block;
      font-weight: 600;
      font-size: 12px;
      color: black;
  }

  .incoming-message .message__bubble {
      border-bottom-left-radius: 0px;
      background-color: black;
      opacity: 0.5;
    }

  .sent-message .message__bubble {
    border-bottom-right-radius: 0px;
    background-color: yellow;
    color: black;
    }

@keyframes incomingAnim {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  
.incoming-message {
animation: incomingAnim 0.5s ease-out forwards;
}

@keyframes sentAnimation {
from {
    opacity: 0;
    transform: translateX(200px);
}
to {
    opacity: 1;
    transform: none;
}
}

.sent-message {
animation: sentAnimation 0.5s ease-out forwards;
}